@{
    ViewData["Title"] = "Admin Collision Data";
}
@{
}

@model CollisionsViewModel  


<div class="row m-1 p-1">
    <div class="col-3">
        <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="AddCollision">Add Accident</a>
        <p style="text-align:center"><vc:admin-severity></vc:admin-severity></p>
        <p style="text-align:center"><vc:admin-city></vc:admin-city></p>
    </div>

    <div class="col-9 scroll"  style="border: solid grey; border-radius: 10px;">
        <h1>@ViewBag.Header</h1>
        <table class="table table-bordered table-striped">
            <thead class="font-weight-bold">
                <tr>
                    <td>Date</td>
                    <td>Route</td>
                    <td>Milepoint</td>
                    <td>Latitude</td>
                    <td>Longitude</td>
                    <td>Main Road Name</td>
                    <td>City</td>
                    <td>County</td>
                    <td>Crash Severity</td>
                    <td>Collision Details</td>

                    <td></td>
                    <td></td>


            <tbody>
                @foreach (var c in Model.Utah_Crash_Data_2020)
                {
                    <tr>
                        <td>@c.CRASH_DATETIME</td>
                        <td>@c.ROUTE</td>
                        <td>@c.MILEPOINT</td>
                        <td>@c.LAT_UTM_Y</td>
                        <td>@c.LONG_UTM_X</td>
                        <td>@c.MAIN_ROAD_NAME</td>
                        <td>@c.CITY</td>
                        <td>@c.COUNTY_NAME</td>
                        <td>@c.CRASH_SEVERITY_ID</td>


                        <td>
                            <ul>
                                @if (c.WORK_ZONE_RELATED.ToString() == "true")
                                {
                                    <li>Work Zone Related </li>
                                    ;
                                }

                                @if (c.PEDESTRIAN_INVOLVED.ToString() == "true")
                                {
                                    <li>Pedestrian Involved</li>
                                    ;
                                }

                                @if (c.BICYCLIST_INVOLVED.ToString() == "true")
                                {
                                    <li>Bicyclist Involved</li>
                                    ;
                                }
                                @if (c.MOTORCYCLE_INVOLVED.ToString() == "true")
                                {
                                    <li>Motorcycle Involved</li>
                                    ;
                                }

                                @if (c.IMPROPER_RESTRAINT.ToString() == "true")
                                {
                                    <li>Improper Restraint</li>
                                    ;
                                }

                                @if (c.UNRESTRAINED.ToString() == "true")
                                {
                                    <li>Unrestrained</li>
                                    ;
                                }

                                @if (c.DUI.ToString() == "true")
                                {
                                    <li>DUI</li>
                                    ;
                                }

                                @if (c.INTERSECTION_RELATED.ToString() == "true")
                                {
                                    <li>Intersection Related</li>
                                    ;
                                }

                                @if (c.WILD_ANIMAL_RELATED.ToString() == "true")
                                {
                                    <li>Wild Animal Related</li>
                                    ;
                                }
                                @if (c.DOMESTIC_ANIMAL_RELATED.ToString() == "true")
                                {
                                    <li>Domestic Animal Related</li>
                                    ;
                                }
                                @if (c.OVERTURN_ROLLOVER.ToString() == "true")
                                {
                                    <li>Overturn Rollover</li>
                                    ;
                                }
                                @if (c.COMMERCIAL_MOTOR_VEH_INVOLVED.ToString() == "true")
                                {
                                    <li>Commercial Motor Vehicle Involved</li>
                                    ;
                                }
                                @if (c.TEENAGE_DRIVER_INVOLVED.ToString() == "true")
                                {
                                    <li>Teenage Driver Involved</li>
                                    ;
                                }
                                @if (c.OLDER_DRIVER_INVOLVED.ToString() == "true")
                                {
                                    <li>Older Driver Involved</li>
                                    ;
                                }
                                @if (c.NIGHT_DARK_CONDITION.ToString() == "true")
                                {
                                    <li>Night Dark Condition</li>
                                    ;
                                }
                                @if (c.SINGLE_VEHICLE.ToString() == "true")
                                {
                                    <li>Single Vehicle</li>
                                    ;
                                }
                                @if (c.DISTRACTED_DRIVING.ToString() == "true")
                                {
                                    <li>Distracted Driving</li>
                                    ;
                                }
                                @if (c.DROWSY_DRIVING.ToString() == "true")
                                {
                                    <li>Drowsy Driving</li>
                                    ;
                                }
                                @if (c.ROADWAY_DEPARTURE.ToString() == "true")
                                {
                                    <li>Roadway Departure</li>
                                    ;
                                }
                            </ul>
                        </td>

                        <td><a asp-controller="Home" asp-action="EditCollision" asp-route-collisionid="@c.CRASH_ID" class="btn btn-warning btn">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="DeleteCollision" asp-route-collisionid="@c.CRASH_ID" class="btn btn-danger">Delete</a></td>

                    </tr>
                }


            </tbody>
            </table>
        </div>
    </div>

<div page-model="@Model.PageInfo" page-action="SummaryData" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>